thead {font-weight: bold;}

#outer {
	width: 320px;
	border-style:solid;
	border-width:1px;
}

#clock {
	padding:10px;	
}


#players {
	float:left;
	width:150px;
}

.playername {
	font-weight:bold;
	width:90px;
}

.playertime {
	text-align:right;
	width:60px;
	float:right;
	margin-right:10px;
}

#turn {
	float:right;
	text-align:right;
	font-size: 50pt;
	width:150px;
	background:#ffdddd;
}

#controls {
	padding:10px;
	clear:both;
	margin-left:auto;
	margin-right:auto;
	min-width: 100px;	
	text-align:center;
}

.currentPlayer {
	background:#ffdddd;
}